<!doctype html>
<title>Best Trade Accounts</title>
<body>
    <div>
        <a href="/ui/">Home</a>
    </div>
    <div>
        <h1>Accounts</h1>    
    </div> 
    <<table>
        <tr>
            <th>Investor ID</th>
            <th>Account Number</th>
            <th>Account Balance</th>
            <th>Account Type</th>
        </tr>
        {% for investor in investors %}
        <tr>
            <td>{{investor.id}}</td>
            <td>{{account.acct_num}}</td>
            <td>{{account.acct_bal}}</td>
            <td>{{account.acct_type}}</td>
        </tr>
        {% endfor %}
    </table>
</body>